/* Centraliza a div principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo-home {
    font-size: 40px;
}

/* Define um tamanho fixo para a div de cada produto */
.produto {
    width: 200px;
    margin: 20px;
}
.produto .preco {
    font-weight: bold;
}


/* Centraliza a imagem dentro da div do produto */
.produto img {
max-width: 100%;
  height: auto;
    display: block;
    margin: 0 auto;
}

/* Estiliza o título do produto */
.produto h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Estiliza a descrição do produto */
.produto p {
    font-size: 0.8rem;
    margin-top: 5px;
}

/* Cria uma borda ao redor da imagem do produto */
.produto img {

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#area-botao {
  float: right;
}

#area-botao button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


###################################################################################



/*Limpar formatações padrão*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Hevetica, sans-serif;
	background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho {
	
	padding: 10px;
	text-align: center;
}

#area-logo {
	padding: 10px;
}

#area-menu {
	padding: 10px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 1px;
	background: #e6e6e6;
}

/*
**** Formatação do Menu ****
*/

a {
	text-decoration: none;
    
}

a:link, a:visited {
	color: #000000;
}

a:hover {
	text-decoration: underline;
}


#area-cabecalho a:link, #area-cabecalho a:visited a:hover{
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho {
	background-color: #000000;
	padding: 15px;
	text-align: center;
}


/*
**** Formatações Gerais ****
*/

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	color: #000000;
}

h3 {
	color: #565656;
	background: #ccc;
	padding: 5px;
}

.branco {
	color: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
>>>>>>> origin/Davi
