/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Hevetica, sans-serif;
    background: #e6e6e6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    background-color: #000000;
    padding: 15px;
    text-align: center;
    animation: fadeIn 1s ease;
}

#area-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#area-cabecalho a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

#area-cabecalho a:hover {
    background-color: #fff;
    color: #000;
}

.logo {
    max-width: 200px;
}

#area-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#area-postagens {
    width: 70%;
    animation: fadeInLeft 1s ease;
}

.postagem {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.postagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.postagem h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.postagem p {
    font-size: 0.8rem;
    margin-top: 5px;
}

#area-lateral {
    width: 30%;
    animation: fadeInRight 1s ease;
}

.conteudo-lateral {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

#rodape {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
